@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Supermercado+One&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4a4b4a;
}
.navbar{
    background-color: #000;
    color: #fff;
    width: 100%;
    line-height: 2.5em;
    height: 2.5em;
    font-size: 2em;
    padding: 0 2em;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Supermercado One';
    box-shadow: 0px 0px 3.9375em rgb(0, 0, 0);
    z-index: 999;
}
.navbar a{
    text-decoration: none;
    color: #fff;
}
.navbar a.nav-logo{
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 1em;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Limelight';
    color: #FFF;
    border-radius: 5%;
}
.navbar a.nav-logo:hover{
    background-color: gray;
}
.navbar ul{
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 2.5em;
}
.navbar ul li{
    display: inline-block;
}
.navbar ul li a {
    display: block;
    text-align: center;
    min-width: 4em;
    padding: 0 1em;
    border-radius: 15%;
}
.navbar ul li a:hover{
    background-color: gray;
}
.section{
    display: flex;
    justify-content: center;
}
.img{
    margin-top: 8%;
    display: flex;
    justify-content: center;
}
.fundo{
    filter: drop-shadow(0 0 5em #FF0000);
}
.quad {
    position: relative;
    margin-top: -8%;
    width: auto;
    height: 2em;
    background-color: #000; /* Cor de fundo do retângulo */
    filter: blur(0.5em); /* Aplica o efeito de desfoque */
    z-index: 4;
}
.quad2{
    margin-top: -1%;
    padding-top: 1em;
    position: relative;
    width: auto;
    height: 20em;
    background-color: #4B4A4A;
    z-index: 3;
}
.quad2 p {
    position: relative; /* Adiciona posicionamento relativo */
    margin-left: 32%;
    margin-right: 19%;
    margin-top: 5%;
    width: 26em;
    font-family: 'Roboto';
    font-size: 1.7em;
    text-align: center;
    color: #FFF;
    padding: 0.5em 0.5em 0.5em; /* Adiciona um preenchimento interno */
    z-index: 2;
    border-radius: 2em;
    background-color: #252525;
}
.sobre {
    position: relative;
    text-align: center; /* Centraliza o conteúdo */
    margin-top: 10%; /* Espaçamento entre o primeiro parágrafo e a section */
    padding-bottom: 5%;
    padding-top: 3%;
}
.sobre h1 {
    font-family: 'Supermercado One'; /* Define a fonte */
    font-size: 4em; /* Define o tamanho da fonte */
    color: #FFF;
}
.sobre p {
    margin: 2% 2%;
    font-family: 'Roboto'; /* Define a fonte */
    font-size: 1.7em; /* Define o tamanho da fonte */
    color: #FFF;
}
.sobre div{
    padding: 1%;
    margin: 2% 2%;
    margin-left: 31%;
    margin-right: 31%;
    border-radius: 2em;
    background-color: #252525;
}
.nuvem1 {
    position: absolute;
    top: 0;
    left: 5em;
}
.nuvem2 {
    position: absolute;
    top: 0;
    right: 5em;
}
.nuvem3 {
    position: absolute;
    bottom: 0;
    right: 5em;
}
.nuvem4 {
    position: absolute;
    bottom: 0;
    left: 5em;
}
.curiosidades {
    position: relative;
    text-align: center; /* Centraliza o conteúdo */
    margin-top: 5%; /* Espaçamento entre o primeiro parágrafo e a section */
    padding-bottom: 5%;
    padding-top: 3%;
}
.curiosidades h1 {
    font-family: 'Supermercado One'; /* Define a fonte */
    font-size: 4em; /* Define o tamanho da fonte */
    color: #FFF;
}
.curiosidades .grupo1, .curiosidades .grupo2 {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    flex-direction: row; /* Alinha as divs dos grupos em colunas */
    gap: 1em; /* Espaçamento entre as divs dos grupos */
}

.curiosidades .grupo1 div, .curiosidades .grupo2 div {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    margin-right: 2%;
    align-items: flex-start;
    background-color: #252525;
    border-radius: 2em;
}
.curiosidades .grupo1{
    margin-top: 3%;
    margin-bottom: 2%;
}
.curiosidades .grupo2{
    margin-bottom: 3%;
}
.curiosidades div p {
    font-family: 'Roboto';
    font-size: 1.7em;
    color: #FFF;
    padding: 0.4em;
}
.curiosidades span{
    font-weight: bold;
}
.imagens .img1{
    width: 29.625em;
    height: 17.8125em;
}
.imagens .img2{
    width: 29.625em;
    height: 17.8125em;
}
.imagens .img3{
    width: 29.625em;
    height: 17.8125em;
}
.imagens .img4{
    width: 29.625em;
    height: 17.8125em;
}
.imagens .img5{
    width: 29.625em;
    height: 17.8125em;
}
.imagens .img6{
    width: 29.625em;
    height: 17.8125em;
}
.img1, .img2, .img3, .img4, .img5, .img6{
    border: 0.5em solid black;
} 
.imagens .grupo1, .imagens .grupo2 {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    flex-direction: row; /* Alinha as divs dos grupos em colunas */
    gap: 1em; /* Espaçamento entre as divs dos grupos */
}
.imagens .grupo1 div, .imagens .grupo2 div {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    margin-right: 2%;
    align-items: flex-start;
}
.imagens .grupo1{
    margin-top: 3%;
    margin-bottom: 2%;
}
.imagens .grupo2{
    margin-bottom: 3%;
}
.imagens h1{
    font-family: 'Supermercado One'; /* Define a fonte */
    font-size: 4em; /* Define o tamanho da fonte */
    color: #FFF;
}
.imagens h2{
    margin-top: 2%;
    font-family: 'Supermercado One';
    font-size: 3em;
    color: #FFF;
}
.imagens {
    position: relative;
    text-align: center; /* Centraliza o conteúdo */
    margin-top: 5%; /* Espaçamento entre o primeiro parágrafo e a section */
    padding-bottom: 5%;
    padding-top: 3%;
}